.App {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  width: 100vw;
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__body {
    flex: 1;
    display: flex;
    overflow: auto;
    background-image: url(../asset/images/content_background_img.jpg);
    background-size: cover;
    background-position: center;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);

    span {
      cursor: pointer;
    }
  }
}
