.SearchResults {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__result {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;

    & {
      span {
        margin: 0 10px;
        font-weight: bold;
        color: black;
      }
    }
  }

  &__contents {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 100%;
    padding: 20px;

    &__empty {
      &__title {
        font-size: 1.2rem;

        span {
          font-weight: bold;
          color: black;
        }
      }

      &__register {
        margin-left: 30px;
        padding: 5px 10px;
        box-shadow: 1px 3px 20px lightgray;
        border-radius: 15px;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: #ff0055;
        }

        &:active {
          transform: translateY(2px);
          box-shadow: 1px 1px 20px lightgray;
        }
      }
    }
  }

  &__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);

    &__box {
      width: 300px;
      height: 50%;
      position: relative;
      padding: 10px;
      border-radius: 15px;
      background-color: white;
      text-align: center;

      &__title {
        padding: 10px;
        border-bottom: 1px solid black;
      }

      &__list {
        overflow: auto;
        padding: 20px 0;

        li {
          margin-bottom: 10px;
          cursor: pointer;

          &:hover {
            color: orangered;
          }
        }
      }
    }

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

td.datesOfArchives {
  color: white;
  background-color: red;
  cursor: pointer;
}

table.calendar {
  border-collapse: collapse;
  font-size: 0.9rem;
}

table.calendar thead {
  background-color: #5a5a5a;
  color: white;
  margin-bottom: 3px;
  border-bottom: 2px solid white;
}

table.calendar thead th {
  font-weight: normal;
  padding: 10px 3px;
}

table.calendar thead th.bolder {
  font-weight: bold;
}

table.calendar tbody {
  font-size: 0.8em;
}

table.calendar td {
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(185, 185, 185, 0.13);
  min-width: 15px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 0px 10px gray;
  }
}

table.calendar tr:last-child td {
  border-bottom: none;
}

table.calendar td.month-name {
  font-weight: bold;
  text-align: left;
  cursor: default;
  border-left: none;
}

table.calendar td.prev-month,
table.calendar td.next-month {
  color: transparent;
  cursor: default;
  pointer-events: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
}

table.calendar td.week-separator {
  pointer-events: none;
  padding: 0;
  width: 8px;
  min-width: 0;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
}

table.calendar td.bolder {
  font-weight: bold;
}

/* Selected range */
table.calendar td.range {
  background-color: rgba(255, 69, 0, 0.7);
  font-weight: bold;
  color: white;
}

table.calendar td.range-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  background: orangered;
}

table.calendar td.range-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  background: orangered;
}

div.calendar-controls {
  margin: 10px auto;
  margin-top: 0;
  padding: 10px;
  display: table;
  font-size: 25px;
  line-height: 35px;
}

div.calendar-controls div {
  display: inline;
}

div.calendar-controls .current-year {
  margin: 0 30px;
}

div.calendar-controls .control {
  font-weight: bolder;
  color: #323232;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

div.calendar-controls .today {
  position: absolute;
  right: 15px;
  line-height: 35px;
  font-size: 0.6em;
  text-transform: uppercase;
}
