@import url('https://fonts.googleapis.com/css?family=Coiny|Lato');

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: rgba(0, 0, 0, 0.7);
  vertical-align: baseline;
}

* {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a,
input {
  all: unset;
}
